ACTION!="add", GOTO="azure_nvme_end"
SUBSYSTEM!="block", GOTO="azure_nvme_end"
KERNEL!="nvme*[0-9]n*[0-9]", GOTO="azure_nvme_end"

ENV{ID_MODEL}=="Microsoft NVMe Direct Disk", GOTO="azure_nvme_direct_v1_start"
ENV{ID_MODEL}=="Microsoft NVMe Direct Disk v2", GOTO="azure_nvme_direct_v2_start"
ENV{ID_MODEL}=="MSFT NVMe Accelerator v1.0", GOTO="azure_nvme_asap_v1_start"
GOTO="azure_nvme_end"

LABEL="azure_nvme_direct_v1_start"
ATTR{nguid}=="?*", SYMLINK+="disk/azure/temp/by-nguid/$attr{nguid}"
GOTO="azure_nvme_end"

LABEL="azure_nvme_direct_v2_start"
ATTR{nguid}=="?*", SYMLINK+="disk/azure/temp/by-nguid/$attr{nguid}"
GOTO="azure_nvme_end"

LABEL="azure_nvme_asap_v1_start"
ATTR{nguid}=="?*", SYMLINK+="disk/azure/data/by-nguid/$attr{nguid}"
ATTR{nsid}=="1", SYMLINK+="disk/azure/os", GOTO="azure_nvme_asap_v1_end"
ATTR{nsid}=="[2-9]|[1-9][0-9]", PROGRAM="/bin/sh -ec 'echo $((%s{nsid}-2))'", ENV{ID_AZURE_DATA_LUN}="$result" SYMLINK+="disk/azure/data/by-lun/$env{ID_AZURE_DATA_LUN}"
GOTO="azure_nvme_end"

LABEL="azure_nvme_end"
