ACTION!="add", GOTO="azure_nvme_end"
SUBSYSTEM!="block", GOTO="azure_nvme_end"
KERNEL!="nvme*[0-9]n*[0-9]", GOTO="azure_nvme_end"

ENV{ID_MODEL}=="Microsoft NVMe Direct Disk", GOTO="azure_nvme_direct_v1_start"
ENV{ID_MODEL}=="Microsoft NVMe Direct Disk v2", GOTO="azure_nvme_direct_v2_start"
ENV{ID_MODEL}=="MSFT NVMe Accelerator v1.0", GOTO="azure_nvme_asap_v1_start"
GOTO="azure_nvme_end"

LABEL="azure_nvme_direct_v1_start"
LABEL="azure_nvme_direct_v2_start"
ATTR{nguid}=="?*", ENV{AZURE_NVME_ID_TYPE}="local"
GOTO="azure_nvme_id_start"

LABEL="azure_nvme_asap_v1_start"
ATTR{nsid}=="1", ENV{AZURE_NVME_ID_TYPE}="xos"
ATTR{nsid}=="1", SYMLINK+="disk/azure/xos", GOTO="azure_nvme_id_start"
ATTR{nsid}=="?*", ENV{AZURE_NVME_ID_TYPE}="xdata"
ENV{AZURE_NVME_ID_TYPE}=="xdata", ATTR{nsid}=="?*", PROGRAM="/bin/sh -ec 'echo $$((%s{nsid}-2))'", ENV{AZURE_NVME_ID_XLUN}="$result"
ENV{AZURE_NVME_ID_TYPE}=="xdata", ENV{AZURE_NVME_ID_XLUN}=="?*", SYMLINK+="disk/azure/$env{AZURE_NVME_ID_TYPE}/by-xlun/$env{AZURE_NVME_ID_XLUN}"
GOTO="azure_nvme_id_start"

LABEL="azure_nvme_id_start"
ATTR{nguid}=="?*", PROGRAM="/usr/sbin/azure-nvme-id identify -o raw --device $env{DEVNAME}", ENV{AZURE_NVME_ID}="$result"
ENV{AZURE_NVME_ID}=="?*", PROGRAM="/usr/sbin/azure-nvme-id parse --key type --vs $env{AZURE_NVME_ID}", ENV{AZURE_NVME_ID_TYPE}="$result"
ENV{AZURE_NVME_ID_TYPE}=="?*", PROGRAM="/usr/sbin/azure-nvme-id parse --key index --vs $env{AZURE_NVME_ID}", ENV{AZURE_NVME_ID_INDEX}="$result", SYMLINK+="disk/azure/$env{AZURE_NVME_ID_TYPE}/by-index/$env{AZURE_NVME_ID_INDEX}"
ENV{AZURE_NVME_ID_TYPE}=="?*", PROGRAM="/usr/sbin/azure-nvme-id parse --key name --vs $env{AZURE_NVME_ID}", ENV{AZURE_NVME_ID_NAME}="$result", SYMLINK+="disk/azure/$env{AZURE_NVME_ID_TYPE}/by-name/$env{AZURE_NVME_ID_NAME}"
ENV{AZURE_NVME_ID_TYPE}=="?*", PROGRAM="/usr/sbin/azure-nvme-id parse --key lun --vs $env{AZURE_NVME_ID}", ENV{AZURE_NVME_ID_LUN}="$result", SYMLINK+="disk/azure/$env{AZURE_NVME_ID_TYPE}/by-lun/$env{AZURE_NVME_ID_LUN}"
ENV{AZURE_NVME_ID_TYPE}=="?*", ENV{AZURE_NVME_ID_TYPE}!="xos|os", ATTR{nguid}=="?*", SYMLINK+="disk/azure/$env{AZURE_NVME_ID_TYPE}/by-nguid/$attr{nguid}"
LABEL="azure_nvme_end"
